<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Overlock|Josefin+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="static/stylesheet.css">
<title>Leandro Taveras</title>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.LeandroT.com/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.LeandroT.com/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.LeandroT.com/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.LeandroT.com/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.LeandroT.com/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.LeandroT.com/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://www.LeandroT.com/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://www.LeandroT.com/icons/favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="Leandro Taveras"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://www.LeandroT.com/icons/mstile-144x144.png" />

</head>
</head>

<body>
<div id="menu">

	<nav id="menu-nav">
		<ul id="menu-ul">
			<li id="menu-li"><a id="menu-a" href="http://www.leandrot.com/index.html">Home</a></li>
			<li id="menu-li"><a id="menu-a" href="http://www.leandrot.com/about.html">About</a></li>
			<li id="menu-li"><a name="proj" id="menu-a" id="proj" href="http://www.leandrot.com/projects.html">Projects<b style="font-size: 12px;">&#9660;</b></a>
					<ul>
						<li><a id="menu-a" href="http://www.leandrot.com/projects.html#maze">Maze Game</a></li>
						<li><a id="menu-a" href="http://www.leandrot.com/projects.html#island">Island Game</a><li>
						<li><a id="menu-a" href="http://www.leandrot.com/projects.html#retaliation">USB Launcher Script</a></li>
					</ul>
			</li>					
			<li id="menu-li"><a id="menu-a" href="http://www.leandrot.com/contact.html">Contact</a></li>
			<li id="menu-li"><a id="name-a" href="http://www.leandrot.com/index.html">Leandro Taveras</a></li>
		</ul>
	</nav>

</div>
<br>
<div id="body-style">
<h2> A price scraper for Magic: the Gathering Cards </h2>
<form action="/prices" method="post">
	<input type="text" placeholder="Card name" name="card"></input>
	<input type="text" placeholder="Three Letter Set Abbreviation" name="set"></input>
	<input type="submit" value="Submit"></input>
</form>

<div id="footer">  &copy;2015 Leandro Taveras </div> </div>
</body>
</html>